body {
	text-align: center;
	background-image: url("https://imagesvc.timeincapp.com/v3/mm/image?url=http%3A%2F%2Fcdn-image.travelandleisure.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F1600x1000%2Fpublic%2Flanding1015-airplane.jpg%3Fitok%3Dz5HeRFcJ&w=700&q=85");
}

h1 {
	color: black;
}